*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #3f3fd9;
}

h1{
    margin-bottom: 20px;
}
        
.square{
    width: 60px;
    display: inline-block;
    background-color: #b5b5b5;
    color: #b5b5b5;
    padding: 50px;
    margin: 3px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
}

.text{
    margin: 15px 0;
    font-size: 30px;
}

button{
    padding: 5px;
    margin: 10px;
    width: 130px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #b5b5b5;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    width: 135px;
    height: 35px;
    background-color: #a1a1a1;
}